tars/


# macOS
.DS_Store
Icon?

# build
.packages
.pub/
.android/
.ios/
build/
pubspec.lock
.generated/
.metadata
tars_flutter.iml
tars_flutter_android.iml

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
xcuserdata/
DerivedData/
*.moved-aside

# Swift Package Manager
/.build
/Packages
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata

# IDE
.idea/
.vagrant/
.netrc



Package.resolved
